<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#">Dashboard</a>
  </li>
  <li class="breadcrumb-item active">My Dashboard</li>
</ol>
<div class="codegea">
  <!--Content-->
  <div class="panel panel-default">
    <div class="panel-heading">
      Blank Page
    </div>
    <div class="panel-body">

    </div>
    <!-- /.panel-body -->
  </div>
  <!--End Content-->
</div>

<footer class="footer">
  <div class="container">
    <span class="text-muted">© 2017 <a href="https://codegea.com">CodeGea</a>, all rights reserved. Made with <i class="fa fa-heart"></i> for a better web.</span>
  </div>
</footer>
